<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<h2>Cadastrar formulario para <span th:text="${nome}">nome</span></h2>

<form th:action="@{/Endereco/incluir/{id}(id = ${id})}" class="container" method="POST">
  <div class="mb-3">
    <label for="rua" class="form-label">Rua: </label>
    <input type="text" class="form-control" id="rua" name="rua">
  </div>
  <div class="mb-3">
    <label for="bairro" class="form-label">Bairro: </label>
    <input type="text" class="form-control" id="bairro" name="bairro">
  </div>
    <div class="mb-3">
    <label for="numero" class="form-label">Número: </label>
    <input type="text" class="form-control" id="numero" name="numero">
  </div>
    <div class="mb-3">
    <label for="cidade" class="form-label">Cidade: </label>
    <input type="text" class="form-control" id="cidade" name="cidade">
  </div>
    <div class="mb-3">
    <label for="cep" class="form-label">Cep: </label>
    <input type="text" class="form-control" id="cep" name="cep">
  </div>
    <div class="mb-3">
    <label for="tipo" class="form-label">Tipo Endereço: </label>
    <input type="text" class="form-control" id="tipo" name="tipo">
  </div>
  
    <div class="mb-3">
    <label for="descricao" class="form-label">Descricao: </label>
    <input type="text" class="form-control" id="descricao" name="descricao">
  </div>
  
    <div class="mb-3">
    <label for="telefone1" class="form-label">Telefone 1: </label>
    <input type="text" class="form-control" id="telefone1" name="telefone1">
  </div>
  
    <div class="mb-3">
    <label for="telefone2" class="form-label">Telefone 2: </label>
    <input type="text" class="form-control" id="telefone2" name="telefone2">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="container">
	<a class="btn btn-primary" th:href="@{/Endereco/lista/{id}(id = ${id})}">Voltar</a>
	<a class="btn btn-primary" th:href="@{/Cliente/listar}">Voltar para lista de pessoas</a>
</div>
</body>
</html>