<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head(title='Forget password')"></head>
<body>


<header th:replace="fragments/header :: cab(page='forget')"></header>

<h1 class="container">Passe seu email para recuperar sua conta</h1>

<form class="container" th:action="@{/retrieve}">
	<label for="email" class="form-label">Email</label>
	<input type="email" id="email" class="form-control" th:classappend="${erro} ? is-invalid : null" aria-describedby="admin@email.com" name="email" th:value="${email}">
	<div id="email" class="invalid-feedback">this email doesn´t exist in our database, try other account that´s exist !</div>
	<div id="email" class="form-text">
	  Pass your email here, so we'll send you a new password.
	</div>
	
	<input type="submit" value="Enviar">
</form>


</body>
</html>