<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head(title='Login')"></head>
<body>

<header th:replace="fragments/header :: cab(page='login')"></header>
	
	<div class="container">
	  <form th:action="@{/login}" method="POST" class="px-4 py-3">
	    <div class="mb-3">
	      <label for="email" class="form-label">Email address</label>
	      <input type="text" class="form-control" id="email" name="username" placeholder="email@example.com">
	    </div>
	    <div class="mb-3">
	      <label for="password" class="form-label">Password</label>
	      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	    </div>
	    <div class="mb-3">
		  <input type="hidden" id="timeZoneOffset" name="timeZoneOffset" value=""/>
	    </div>
	    <button type="submit" class="btn btn-primary">Sign in</button>
	  </form>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" th:href="@{/cadastrar}">New around here? Sign up</a>
	  <a class="dropdown-item" th:href="@{/forgot}">Forgot password?</a>
	</div>

	<script th:inline="javascript">
		jQuery(document).ready(function() {
			jQuery("#timeZoneOffset").val(new Date().getTimezoneOffset());
		});
	</script>

</body>
</html>