<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head(title='Profile')"></head>
<body>


<header th:replace="fragments/header :: cab(page='profile')"></header>

<section class="container d-flex gap-3 mt-5">

    <div>
        <figure class="figure">
            <img th:src="${usuario.showPhoto()}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>

    <div>
        <h1>Bem-vindo !</h1>
        <h2>Perfil: </h2>

        <form th:action="@{/Rede/Perfil}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Change your profile image</label>
                <input class="form-control" type="file" id="formFile" name="inpimage">
            </div>

            <input type="submit" value="alterar">
        </form>

        <h3>Nome: <span th:text="${usuario.username}"></span></h3>
        <h3>Email: <span th:text="${usuario.email}"></span></h3>
    </div>




</section>

</body>
</html>