<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head(title='Comentários')"></head>
<body>

<header th:replace="fragments/header :: cab(page='socialNetwork')"></header>

<section class="container">

<h1>Teste</h1>


<form th:object="${requestComentary}" th:action="@{/Rede/Comentario/edit/{id}(id = ${id})}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="subtitle">Quem é você ? Amigo do senai, da fatec, ou amigo ou parente ?</label>
        <input type="text" class="form-control" th:field="*{subtitle}" placeholder="Quem é você?">
        <small id="emailHelp" class="form-text text-muted">Você pode falar se é meu amigo de algum lugar ou qualquer coisa que ache melhor !</small>
    </div>
    <div class="form-group">
        <label for="description">Descricao (comentário)</label>
        <textarea class="form-control" th:field="*{description}" placeholder="texto"></textarea>
        <small id="description" class="form-text text-muted">Aqui você digita comentário !.</small>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</body>

</section>

</html>