<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Detalhes: </h1>
	
	<h2>Id: <span th:text="${turismo[0]}"></span></h2>
	<h2>Nome: <span th:text="${turismo[1]}"></span></h2>
	<h2>Data inicio: <span th:text="${turismo[2]}"></span></h2>
	<h2>Data final: <span th:text="${turismo[3]}"></span></h2>
	<h2>descricao: <span th:text="${turismo[4]}"></span></h2>
	<h2>salario: <span th:text="${turismo[5]}"></span></h2>
	<h2>Continente: <span th:text="${turismo[6]}"></span></h2>
	
	<a href="javascript: history.go(-1)">Voltar página</a>
	
</body>
</html>