<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>	

		    <table class="">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">data Inicio</th>
                    <th scope="col">data final</th>
                    <th scope="col">local</th>
                    <th scope="col">descricao</th>
                    <th scope="col">Salário</th>
                    <th scope="col">Continente</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="turismo : ${lista}">
                    <th class="col-1" scope="row" th:text="${turismo[0]}">ID</th>
                    <th class="col-1" scope="row" th:text="${turismo[1]}">Nome</th>
                    <td class="col-4" th:text="${turismo[2]}">Nome do Professor</td>
	                <td class="col-2" th:text="${turismo[3]}">Salário</td>
                    <td class="col-2" th:text="${turismo[4]}">Local</td>
                    <td class="col-2" th:text="${turismo[5]}">Descricao</td>
                    <td class="col-2" th:text="${turismo[6]}">Salario</td>
                    <td class="col-1"><a th:href="@{/People/{turismoId}(turismoId = ${turismo[0]})}">Turistas</a></td>
                    <td class="col-1"><a th:href="@{/Turismo/{turismoId}(turismoId = ${turismo[0]})}">Detalhes</a></td>
                    <td class="col-1"><a th:href="@{/Turismo/edit/{turismoId}(turismoId = ${turismo[0]})}">Editar</a></td>
                    <td class="col-1"><a th:href="@{/Turismo/delete/{turismoId}(turismoId = ${turismo[0]})}">Deletar</a></td> 
                </tr>
                </tbody>
            </table>  
		
			<a th:href="@{/Turismo/}">Home</a>
</body>
</html>