<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>	

		    <table class="">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">data Inicio</th>
                    <th scope="col">data final</th>
                    <th scope="col">quantidade</th>
                    <th scope="col">local</th>
                    <th scope="col">descricao</th>
                    <th scope="col">Salário</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="turismo : ${lista}">
                    <th class="col-1" scope="row" th:text="${turismo.getId()}">ID</th>
                    <th class="col-1" scope="row" th:text="${turismo.getNome()}">Nome</th>
                    <td class="col-4" th:text="${turismo.getData_initial}">Nome do Professor</td>
                    <td class="col-2" th:text="${turismo.getData_final}">Salário</td>
                    <td class="col-2" th:text="${turismo.getQuantidade()}">Quantidade</td>
                    <td class="col-2" th:text="${turismo.getLocal()}">Local</td>
                    <td class="col-2" th:text="${turismo.getDescricao()}">Descricao</td>
                    <td class="col-2" th:text="${turismo.getSalario()}">Salario</td>
                    <td class="col-1"><a th:href="@{/Turismo/{turismoId}(turismoId = ${turismo.getId()})}">Detalhes</a></td>
                    <td class="col-1"><a th:href="@{/Turismo/edit/{turismoId}(turismoId = ${turismo.getId()})}">Editar</a></td>
                    <td class="col-1"><a th:href="@{/Turismo/delete/{turismoId}(turismoId = ${turismo.getId()})}">Deletar</a></td>
                </tr>
                </tbody>
            </table>  

</body>
</html>