<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head(title='Detalhes importação')"></head>
<body>


<header th:replace="fragments/header :: cab(page='detalhesImportacao')"></header>


<div class="container">
<h1 class="text-muted mt-3 mb-4">DETALHES DA IMPORTAÇÃO</h1>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Importado em <span th:text="${#temporals.format(importacao.now, 'dd/MM/yyyy - HH:mm')}">dateHours</span></li>
    <li class="list-group-item">Importado por <span th:text="${importacao.usuario.nome}">username</span></li>
    <li class="list-group-item">Data transações <span th:text="${#dates.format(importacao.date, 'dd/MM/yyyy')}">Date</span></li>
  </ul>
</div>

<h1 class="text-muted mt-4 mb-4">Transações importadas</h1>

<table class="table">
  <thead class="table-light">
    <tr>
		<th class="table-secondary" scope="col">BANCO</th>
		<th class="table-secondary" scope="col">AGÊNCIA</th>
		<th class="table-secondary" scope="col">CONTA</th>
		<th class="table-secondary" scope="col">BANCO DESTINO</th>
		<th class="table-secondary" scope="col">AGENCIA DESTINO</th>
		<th class="table-secondary" scope="col">CONTA DESTINO</th>
		<th class="table-secondary" scope="col">VALOR</th>
	</tr>
  </thead>
  <tbody>
    <tr th:each="transacao : ${listaTransacoes}">
		<td th:text="${transacao.bancoOrigem}">Mark</td>
		<td th:text="${transacao.agenciaOrigem}">Mark</td>
		<td th:text="${transacao.contaOrigem}">usuario</td>
		<td th:text="${transacao.bancoDestino}">usuario</td>
		<td th:text="${transacao.agenciaDestino}">usuario</td>
		<td th:text="${transacao.contaDestino}">usuario</td>
		<td th:text="${transacao.valor}">usuario</td>
	</tr>
  </tbody>
</table>
</div>
</body>
</html>