<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments/header :: head(title='Home')"></head>
<body>
	<header th:replace="fragments/header :: cab(page='Home')"></header>




	<section class="container">
	
		<h1 class="mt-3">Bem vindo ao projeto de controle de transações financeiras</h1>
		
		<h2>Importe o seu arquivo no input</h2>
		
		<form role="form" th:action="@{/Home/upload}" method="POST" enctype="multipart/form-data">
			<div class="mb-3 form-group">
			  <label for="formFile" class="form-label">Import file here</label>
			  <input class="form-control" th:classappend="${isInvalid} ? is-invalid : is-valid" type="file" id="formFile" name="file">
			  <p th:text="${erro}" class="invalid-feedback pt-2"></p>
			  <p th:text="${sucess}" class="text-success pt-2"></p>
			</div>
			<div class="mb-3 row">
				<button type="submit" class="btn btn-primary col col-auto me-3" style="width: 85px;">Enviar</button>
			</div>
		</form>
		
		<div th:classappend="${emptyContent} ? d-block : d-none" class="row mt-3">
		
			<div class="col">
				<div class="card text-white bg-danger mb-3">
				  <div class="card-header">Arquivo conteúdo vazio !</div>
				  <div class="card-body">
				    <h5 class="card-title">Danger content empty</h5>
				    <p class="card-text">can't upload file content empty, beacuse it's going not process to register transfer</p>
				  </div>
				</div>
			</div>
		</div>



		<div class="d-flex gap-3">
			<div class="card" style="max-width: 230px">
				<img th:src="@{/img/excel.svg}" class="card-img-top p-3" alt="...">
				<div class="card-body">
					<h5 class="card-title">Excel</h5>
					<p class="card-text">Transactions that will be working if you try import it to system, but you can alter any value or struct of file after to download it.</p>
					<a th:href="@{/downloads/transacoes-2022-01-01.csv}" class="btn btn-primary">Download</a>
				</div>
			</div>
			<div class="card" style="max-width: 230px">
				<img th:src="@{/img/excelError.svg}" class="card-img-top p-3" alt="...">
				<div class="card-body">
					<h5 class="card-title">Excel too title</h5>
					<p class="card-text">Transactions with repeat date that won't be persisted in database, thanks the smart system</p>
					<a th:href="@{/downloads/transacoes-2022-01-01(2).csv}" class="btn btn-primary">Download</a>
				</div>
			</div>
			<div class="card" style="max-width: 230px">
				<img th:src="@{/img/excelEmpty.svg}" class="card-img-top p-3" alt="...">
				<div class="card-body">
					<h5 class="card-title">Excel too title</h5>
					<p class="card-text">Transactions with empty values that won't be persisted in database, thanks the smart system</p>
					<a th:href="@{/downloads/exemplo.csv}" class="btn btn-primary">Download</a>
				</div>
			</div>
			<div class="card" style="max-width: 230px">
				<img th:src="@{/img/xml.svg}" class="card-img-top p-3" alt="...">
				<div class="card-body">
					<h5 class="card-title">XML</h5>
					<p class="card-text">Transactions in file XML. It is old format, but I put this function because there are any company that use it</p>
					<a th:href="@{/downloads/transacoes-2022-01-02.xml}" class="btn btn-primary">Download</a>
				</div>
			</div>
		</div>


		
		
		<div class="row">
		<div th:classappend="${erroDuplicado} ? d-block : d-none" class="mt-3 col p-8">
			<h2>Transações duplicadas</h2>
			
			
			<table class="table table-danger">
			  <thead>
			    <tr>
			      <th class="table-secondary" scope="col">Banco Origem</th>
			      <th class="table-secondary" scope="col">Agencia Origem</th>
			      <th class="table-secondary" scope="col">Conta Origem</th>
			      <th class="table-secondary" scope="col">Banco Destino</th>
			      <th class="table-secondary" scope="col">Agencia Destino</th>
			      <th class="table-secondary" scope="col">Conta Destino</th>
			      <th class="table-secondary" scope="col">Valor</th>
			      <th class="table-secondary" scope="col">Data</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="transacao : ${listaErroDuplicadas}">
			      <td th:text="${transacao.bancoOrigem}">Mark</td>
			      <td th:text="${transacao.agenciaOrigem}">Mark</td>
			      <td th:text="${transacao.contaOrigem}">Mark</td>
			      <td th:text="${transacao.bancoDestino}">Mark</td>
			      <td th:text="${transacao.agenciaDestino}">Mark</td>
			      <td th:text="${transacao.contaDestino}">Mark</td>
			      <td th:text="${transacao.valor}">Mark</td>
			      <td th:text="${#dates.format(transacao.data, 'dd/MM/yyyy')}">Mark</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		

		
		</div>
		
			<div class="row">
						<div th:classappend="${erroDate} ? d-block : d-none"  class="mt-3 col p-8">
							<h2>Transações com data diferente que não foram persistida !</h2>
							
							
							<table class="table table-primary">
							  <thead>
							    <tr>
							      <th class="table-secondary" scope="col">Banco Origem</th>
							      <th class="table-secondary" scope="col">Agencia Origem</th>
							      <th class="table-secondary" scope="col">Conta Origem</th>
							      <th class="table-secondary" scope="col">Banco Destino</th>
							      <th class="table-secondary" scope="col">Agencia Destino</th>
							      <th class="table-secondary" scope="col">Conta Destino</th>
							      <th class="table-secondary" scope="col">Valor</th>
							      <th class="table-secondary" scope="col">Data</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each="transacao : ${listaErroDate}">
							      <td th:text="${transacao.bancoOrigem}">Mark</td>
							      <td th:text="${transacao.agenciaOrigem}">Mark</td>
							      <td th:text="${transacao.contaOrigem}">Mark</td>
							      <td th:text="${transacao.bancoDestino}">Mark</td>
							      <td th:text="${transacao.agenciaDestino}">Mark</td>
							      <td th:text="${transacao.contaDestino}">Mark</td>
							      <td th:text="${transacao.valor}">Mark</td>
							      <td class="table-warning" th:text="${#dates.format(transacao.data, 'dd/MM/yyyy')}">Mark</td>
							    </tr>
							  </tbody>
							</table>
						</div>

						<div th:classappend="${erroNull} ? d-block : d-none" class="mt-3 col p-8">
							<h2>Transações com alguns campos vazios não foram persistida !</h2>
							
							
							<table class="table table-primary">
							  <thead>
							    <tr>
							      <th class="table-secondary" scope="col">Banco Origem</th>
							      <th class="table-secondary" scope="col">Agencia Origem</th>
							      <th class="table-secondary" scope="col">Conta Origem</th>
							      <th class="table-secondary" scope="col">Banco Destino</th>
							      <th class="table-secondary" scope="col">Agencia Destino</th>
							      <th class="table-secondary" scope="col">Conta Destino</th>
							      <th class="table-secondary" scope="col">Valor</th>
							      <th class="table-secondary" scope="col">Data</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each="transacao : ${listaErroNull}">
							      <td th:classappend="${transacao.bancoOrigem != ''} ? table-primary: table-warning" th:text="${transacao.bancoOrigem != ''} ? ${transacao.bancoOrigem} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.agenciaOrigem} ? table-primary : table-warning" th:text="${transacao.agenciaOrigem != null} ? ${transacao.agenciaOrigem} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.contaOrigem != ''} ? table-primary : table-warning" th:text="${transacao.contaOrigem != ''} ? ${transacao.contaOrigem} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.bancoDestino != ''} ? table-primary : table-warning" th:text="${transacao.bancoDestino != ''} ? ${transacao.bancoDestino} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.agenciaDestino} ? table-primary : table-warning" th:text="${transacao.agenciaDestino != null} ? ${transacao.agenciaDestino} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.contaDestino != ''} ? table-primary : table-warning" th:text="${transacao.contaDestino != ''} ? ${transacao.contaDestino} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.valor} ? table-primary : table-warning" th:text="${transacao.valor != null} ? ${transacao.valor} : 'null value!'">Mark</td>
							      <td th:classappend="${transacao.data} ? table-primary : table-warning" th:text="${transacao.data != null} ? ${#dates.format(transacao.data, 'dd/MM/yyyy')} : 'null value!'">Mark</td>
							      																
							    </tr>
							  </tbody>
							</table>
						</div>

		</div>
		
		

	</section>
	
	
	
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-2 border-top p-3">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/heberty-guelfi-3b5a991bb/"><img alt="" th:src="@{/img/github.svg}" width="45" height="45"><use xlink:href="#facebook"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img alt="" th:src="@{/img/linkedin.svg}" width="45" height="45"><use xlink:href="#linkedim"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img alt="" th:src="@{/img/facebook.svg}" width="45" height="45"><use xlink:href="#facebook"></use></svg></a></li>
      
    </ul>
  </footer>
	
</body>
</html>