<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head(title='Importações')"></head>
<body>


<header th:replace="fragments/header :: cab(page='imports')"></header>
	
	<div class="mt-3 col p-8 container">
							<h2 class="card-subtitle mb-2 text-muted mb-5 mt-3">IMPORTAÇÕES REALIZADAS</h2>
							
							
							<table class="table table-striped">
							  <thead>
							    <tr>
							      <th class="table-secondary" scope="col">DATA TRANSAÇÕES</th>
							      <th class="table-secondary" scope="col">DATA IMPORTAÇÕES</th>
							      <th class="table-secondary" scope="col">REALIZADO POR</th>
							      <th class="table-secondary" scope="col">OPÇÕES</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each="importacao : ${listaImportacoes}">
							      <td th:text="${#dates.format(importacao.date, 'dd/MM/yyyy')}">Mark</td>
							      <td th:text="${#temporals.format(importacao.now, 'dd/MM/yyyy HH:mm:ss')}">Mark</td>
								  <td class="d-flex p-2 gap-2"><img th:src="${importacao.usuario.showPhoto()}" width="40" height="40" class="rounded-circle"><p th:text="${importacao.usuario.nome}" class="m-0 align-self-center">usuário</p></td>
							      <td><a class="btn btn-info" th:href="@{/Home/detalhar/importacoes/{id}(id = ${importacao.id})}">Detalhar</a></td>
							    </tr>
							  </tbody>
							</table>
						</div>
</body>
</html>